<!-- fragments/navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
</style>
<link rel="stylesheet" href="/custom.css">

<body>
<div th:fragment="navbar(content, activePage)" class="d-flex">  <!-- Sidebar -->
  <nav class="d-flex flex-column flex-shrink-0 p-3 shadow-sm border-end custom-navbar" style="width: 250px; height: 100vh; position: fixed; background-color: #dbdbdb">    <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold fs-4">
      <img src="/logo.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">

      Eventify
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/home"
           class="nav-link"
           th:classappend="${activePage} == 'home' ? ' active fw-bold' : ' text-dark text-primary'">
                  <i class="bi bi-house-door-fill"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/addEvent"
           class="nav-link"
           th:classappend="${activePage} == 'addEvent' ? ' active fw-bold' : ' text-dark text-primary'">
          <i class="bi bi-plus-circle"></i> Inserisci evento
        </a>
      </li>
      <li>
        <a href="/yourEvents"
           class="nav-link"
           th:classappend="${activePage} == 'yourEvents' ? ' active fw-bold' : ' text-dark text-primary'">
          <i class="bi bi-calendar-check"></i> I tuoi eventi
        </a>
      </li>
      <li>
        <a href="/subscriptions"
           class="nav-link"
           th:classappend="${activePage} == 'subscriptions' ? ' active fw-bold' : ' text-dark text-primary'">
          <i class="bi bi-person-check"></i> Iscrizioni
        </a>
      </li>
      <li>
        <a href="/userSearch"
           class="nav-link"
           th:classappend="${activePage} == 'userSearch' ? ' active fw-bold' : ' text-dark text-primary'">
          <i class="bi bi-search"></i> Ricerca utenti
        </a>
      </li>
      <li>
        <a href="/profile"
           class="nav-link"
           th:classappend="${activePage} == 'profile' ? ' active fw-bold' : ' text-dark text-primary'">
          <i class="bi bi-person-circle"></i> Profilo
        </a>
      </li>
    </ul>
    <hr>
    <form action="/exit" method="post">
      <button class="btn btn-outline-primary w-100" type="submit">
        <i class="bi bi-box-arrow-right"></i> Esci
      </button>
    </form>
  </nav>

  <!-- Spazio per il contenuto principale -->
  <div class="flex-grow-1" style="margin-left: 250px; padding: 20px;">
    <div th:insert="${content}"></div>
  </div>
</div>
</body>
</html>