<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
  <div class="container mt-4">
    <h1>Il tuo profilo</h1>
    <p class="text-muted">Qui puoi visualizzare le informazioni associate al tuo account.</p>

    <ul class="list-group my-4">
      <li class="list-group-item"><strong>Email:</strong> <span th:text="${utente.email}"></span></li>
      <li class="list-group-item"><strong>Username:</strong> <span th:text="${utente.username}"></span></li>
      <li class="list-group-item"><strong>Nome:</strong> <span th:text="${utente.nome}"></span></li>
      <li class="list-group-item"><strong>Cognome:</strong> <span th:text="${utente.cognome}"></span></li>
      <li class="list-group-item"><strong>Data di nascita:</strong> <span th:text="${#temporals.format(utente.dataNascita, 'dd/MM/yyyy')}"></span></li>
      <li class="list-group-item"><strong>Città di residenza:</strong> <span th:text="${utente.citta}"></span></li>
      <li class="list-group-item"><a th:href="'/user/' + ${utente.username} + '/followers'"><strong>Followers:</strong></a> <span th:text="${followersNumber}"></span></li>
      <li class="list-group-item"><a th:href="'/user/' + ${utente.username} + '/following'"><strong>Seguiti:</strong></a> <span th:text="${followingNumber}"></span></li>
    </ul>

    <a href="/editProfile" class="btn btn-primary">Modifica Profilo</a>
  </div>
</div>
</body>
</html>