<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi evento</title>
</head>
<body>
    <form action="addEvent" method="post" enctype="multipart/form-data">
        <input type="text" id="nome" name="nome" placeholder="nome evento">
        <input type="datetime-local" id="dataOraInizio" name="dataOraInizio" placeholder="data e ora inizio">
        <input type="datetime-local" id="dataOraFine" name="dataOraFine" placeholder="data e ora fine">
        <input type="text" id="indirizzo" name="indirizzo" oninput="autocompleteAddress()" placeholder="Inserisci indirizzo..."/>
        <input type="number" id="numCivico" name="numCivico" placeholder="numero civico">
        <input type="text" id="tipo" name="tipo" placeholder="tipo (festa, sagra ecc...)">
        <select name="visibilita" id="visibilita">
            <option value="pubblico">Pubblico</option>
            <option value="privato">Privato</option>
        </select>
        <input type="text" id="descrizione" name="descrizione" placeholder="descrizione">
        <input type="number" id="etaMinima" name="etaMinima" placeholder="eta minima">
        <input type="number" id="maxPartecipanti" name="maxPartecipanti" placeholder="partecipanti max">
        <input type="text" id="costoIngresso" name="costoIngresso" placeholder="costo ingresso">
        <input type="file" id="immagini" name="immagini" multiple>
        <input type="submit" placeholder="salva evento">
        <select id="suggestions" style="display: none;"></select>
    </form>
    <script src="/trovaInidirzzo.js"></script>
</body>
</html>