<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${evento.nome}"></title>
</head>
<body>
<h1 th:text="${evento.nome}"></h1><br>
<p>Data e ora inizio: </p><p th:text="${evento.dataOraInizio}"></p><br>
<p>Data e ora fine: </p><p th:text="${evento.dataOraFine}"></p><br>
<p>Indirizzo: </p><p th:text="${evento.indirizzo}"></p><br>
<p>Tipo evento: </p><p th:text="${evento.tipo}"></p><br>
<p>Descrizione: </p><p th:text="${evento.descrizione}"></p><br>
<p>Età minima: </p><p th:text="${evento.etaMinima}"></p><br>
<p>Partecipanti massimi</p><p th:text="${evento.maxPartecipanti}"></p><br>
<p>Costo ingresso: </p><p th:text="${evento.costoIngresso}"></p><br>
<form method="post" action="/likeEvent">
    <input type="submit" id="like" name="like" th:value="${liked}"><p th:text="${likesNumber} + ' like totali'"></p>
    <input type="hidden" name="idEvento" th:value="${evento.idEvento}">
</form>
<form method="post" action="/subscribe">
    <input type="submit" id="partecipa" name="partecipa" th:value="${partecipato}">
    <input type="hidden" name="idEvento" th:value="${evento.idEvento}">
</form>


<p id="linkInvito" style="display: none" th:text="'localhost:8080/event?id=' + ${evento.idEvento} + '&invitation=' + ${evento.invito}"></p>
<button th:if="${(isOwner == 'true' && evento.visibilita == 0) || evento.visibilita == 1}" onclick="copyToClipboard(document.getElementById('linkInvito').innerText)">Copia link invito</button>

</body>
<script>
    const text = document.getElementById("like");
    if (text.value === "true") {
        text.value = "HAI MESSO MI PIACE";
    } else {
        text.value = "NON HAI MESSO MI PIACE";
    }

    const text2 = document.getElementById("partecipa");
    if (text2.value === "true") {
        text2.value = "DISISCRIVITI";
    } else {
        text2.value = "ISCRIVITI";
    }

    function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(() => {
        alert("Copied to clipboard!");
        }).catch(err => {
            console.error("Failed to copy: ", err);
        });
    }
</script>
</html>