<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${evento.nome}">Evento</title>
    <link rel="stylesheet" href="/toast.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>

<!-- Toast per messaggi -->
<div id="toast" class="toast" th:if="${msg}" th:text="${msg}"></div>
<script src="/toast.js"></script>



<h1 th:text="${evento.nome}">Nome Evento</h1><br>
<p>Data e ora inizio: <span th:text="${evento.dataOraInizio}"></span></p><br>
<p>Data e ora fine: <span th:text="${evento.dataOraFine}"></span></p><br>
<p>Indirizzo: <span th:text="${evento.indirizzo}"></span></p><br>
<p>Tipo evento: <span th:text="${evento.tipo}"></span></p><br>
<p>Descrizione: <span th:text="${evento.descrizione}"></span></p><br>
<p>Età minima: <span th:text="${evento.etaMinima}"></span></p><br>
<p>Partecipanti massimi: <span th:text="${evento.maxPartecipanti}"></span></p><br>
<p>Costo ingresso: <span th:text="${evento.costoIngresso}"></span></p><br>
<a th:href="'/user/' + ${organizzatore.username}" th:text="${organizzatore.username}"></a>
<br>

<!-- Blocchi HTMX -->
<div th:replace="fragments/like :: like"></div>
<div th:replace="fragments/subscribe :: subscribe"></div>

<!-- Link invito -->
<input id="linkInvito" type="hidden" th:value="'localhost:8080/event?id=' + ${evento.idEvento} + '&invitation=' + ${evento.invito}">
<button th:if="${(isOwner && evento.visibilita == 0) || evento.visibilita == 1}"
        onclick="copyToClipboard(document.getElementById('linkInvito').value)">
    Copia link invito
</button>

<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(() => {
            alert("Copied to clipboard!");
        }).catch(err => {
            console.error("Failed to copy: ", err);
        });
    }
</script>

</body>
</html>
