<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>sei nella home</p>
<a href="addEvent">Inserisci nuovo evento</a><br>
<a href="yourEvents">I tuoi eventi creati</a>
<h2>Eventi pubblici in ordine di popolarità</h2>
<h3 th:text="${msg}"></h3>
<table>
    <thead>
    <tr>
        <th>Nome Evento</th>
        <th>Data e ora inizio</th>
        <th>Data e ora fine</th>
        <th>Luogo</th>
        <th>Iscrizione</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="evento : ${eventiHome}">
        <td th:text="${evento.nome}"></td>
        <td th:text="${evento.dataOraInizio}"></td>
        <td th:text="${evento.dataOraFine}"></td>
        <td th:text="${evento.indirizzo}"></td>
        <td>
            <form action="/event" method="get">
                <input type="hidden" name="id" th:value="${evento.idEvento}"/>+
                <input type="submit" value="Dettagli evento"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>