<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/toast.css">
</head>
<body>
<div id="toast" class="toast" 
th:if="${msg}" 
th:text="${msg}">
</div>
<p>sei nella home</p>
<a href="addEvent">Inserisci nuovo evento</a><br>
<a href="yourEvents">I tuoi eventi creati</a><br>
<a href="subscriptions">Gli eventi a cui sei iscritto</a><br>
<a href="userSearch">Ricerca utenti</a>
<a th:href="'user/' + ${utente.username}">Il tuo profilo</a>
<form action="/exit" method="post">
    <input type="submit" value="Esci"/>
</form>
<h2>Eventi pubblici in ordine prima di seguiti e poi di popolarità</h2>
<h3 th:text="${msg}"></h3>
<table>
    <thead>
    <tr>
        <th>Nome Evento</th>
        <th>Data e ora inizio</th>
        <th>Data e ora fine</th>
        <th>Luogo</th>
        <th>Iscrizione</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="evento : ${eventiHome}">
        <td th:text="${evento.nome}"></td>
        <td th:text="${evento.dataOraInizio}"></td>
        <td th:text="${evento.dataOraFine}"></td>
        <td th:text="${evento.indirizzo}"></td>
        <td>
            <form action="/event" method="get">
                <input type="hidden" name="id" th:value="${evento.idEvento}"/>
                <input type="submit" value="Dettagli evento"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
</body>
</html>