<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${utente.username} == ${loggedUser.username} ? 'il tuo profilo' : 'Profilo di ' + ${utente.username}"></title>
</head>
<body>
    <h1 th:text="${utente.username} == ${loggedUser.username} ? 'il tuo profilo' : 'Profilo di ' + ${utente.username}">Profilo Utente</h1>
    <p><strong>Nome:</strong> <span th:text="${utente.nome}">Nome</span></p>
    <p><strong>Cognome:</strong> <span th:text="${utente.cognome}">Cognome</span></p>

    <a th:text="'followers: ' + ${followersNumber}" th:href="'/user/' + ${utente.username} + '/followers'"></a>
    <a th:text="'seguiti: ' + ${followingNumber}" th:href="'/user/' + ${utente.username} + '/following'"></a>

    <form action="/follow" method="post">
        <input type="hidden" name="followedEmail" th:value="${utente.email}" />
        <button th:if="${utente.username} != ${loggedUser.username}" type="submit" th:text="${isFollowing ? 'Smetti di seguire' : 'Segui'}"></button>
    </form>

    <h2>Eventi creati da <span th:text="${utente.username} == ${loggedUser.username} ? 'te' : ${utente.username}"></span></h2>
    <ul>
        <li th:each="evento : ${eventi}">
            <a th:href="@{/event(id=${evento.idEvento})}" th:text="${evento.nome}"></a>
        </li>
    </ul>
</body>
</html>